mixin link(data = {})
    -
        const isExternal = data?.isExternal
        const hasVisibleTooltip = data?.hasVisibleTooltip
        const href = data.href
        const target = isExternal ? '_blank' : false
        const rel = isExternal ? 'noopener noreferrer' : false
        const tooltip = data?.tooltip || false

    a(
        href=href
        target=target
        rel=rel
        title=hasVisibleTooltip && tooltip
        aria-label=tooltip
    )&attributes(attributes)= data.text
