mixin link(props = {})
  -
    const isExternal = props.isExternal
    const hasVisibleTooltip = props.hasVisibleTooltip
    const href = props.href
    const target = isExternal && '_blank'
    const rel = isExternal && 'noopener noreferrer'
    const tooltip = props.tooltip || false

  a(
    href=href
    target=target
    rel=rel
    title=hasVisibleTooltip && tooltip
    aria-label=tooltip
  )&attributes(attributes)= props.text
