mixin picture(props = {})
  -
    const width = props.width || 100
    const height = props.height || 100
    const imgClass = props.imgClass || false
    const name = props.name || 'content/pic-placeholder'
    const ext = props.ext || 'png'
    const alt = props.alt || false
    const isSVG = props.ext === 'svg'

  if isSVG
    picture&attributes(attributes)
      img(
        width=width
        height=height
        class=imgClass
        src=`./img/${name}.${ext}`
        alt=alt
      )

  else
    picture&attributes(attributes)
      source(type="image/webp" srcset=`./img/${name}.webp, ./img/${name}@2x.webp 2x`)
      img(
        class=imgClass
        src=`./img/${name}.${ext}`
        srcset=`./img/${name}@2x.${ext}`
        width=width
        height=height
        alt=alt
      )
