mixin picture(data = {})
    -
        const isSVG = data.ext === 'svg'
        const alt = data.alt || ''

    if isSVG
        picture&attributes(attributes)
            img(
                width= data.width
                height= data.height
                class= data.imgClass
                src=`./img/${data.name}.${data.ext}`
                alt= data.alt
            )

    else
        picture&attributes(attributes)
            source(type="image/webp" srcset=`./img/${data.name}.webp, ./img/${data.name}@2x.webp 2x`)
            img(
                class= data.imgClass
                src=`./img/${data.name}.${data.ext}`
                srcset=`./img/${data.name}@2x.${data.ext}`
                width= data.width
                height= data.height
                alt=alt
            )
