mixin ui-fancy-button(data = {})
    -
        const isLink = data.href
        const title = data.title || false

    if isLink
        a.ui-fancy-button(
            href=data.href
            title=title
            aria-label=title
            value=data.text
        )&attributes(attributes) #{data.text}
            | #{data.text}

    else
        button.ui-fancy-button(
            type=data.type
            title=title
            aria-label=title
            value=data.text
        )&attributes(attributes)
            | #{data.text}
