mixin ui-fancy-button(props = {})
  -
    const tag = props.href ? 'a' : 'button'
    const type = props.href ? false : props.type || 'button'

  #{tag}.ui-fancy-button(
    type=type
    title=props.tooltip
    aria-label=props.tooltip
    value=props.text
  )&attributes(attributes)
    | #{props.text}
