mixin ui-fancy-button(data = {})
    -
        const tag = data.href ? 'a' : 'button'
        const type = data.href ? false : data.type || 'button'

    #{tag}.ui-fancy-button(
        type=type
        title=data.tooltip
        aria-label=data.tooltip
        value=data.text
    )&attributes(attributes)
        | #{data.text}
