mixin pet-card(data = {})
    -
        const tooltip = data.href ? 'Go to the project page' : 'Open project detail info'
        const picName = data.pic?.name || 'content/pic-placeholder'
        const picExt = data.pic?.ext || 'png'
        const picAlt = data.pic?.alt || false

    article.pet-card&attributes(attributes)
        a.pet-card__wrap(
            href=data.href || ''
            title=tooltip
            aria-label=tooltip
        )
            +picture({
                width: 350,
                height: 350,
                name: picName,
                ext: picExt,
                alt: picAlt,
            }).pet-card__pic

            .pet-card__info
                hgroup.pet-card__title-box
                    h3.pet-card__title= data.title
                    p.pet-card__title-desc= data.desc

                if data.tags
                    ul.pet-card__tags
                        each tag in data.tags
                            li.pet-card__tag ##{tag}
