mixin site-header(props = {})
    header.site-header
        .site-header__wrapp
            a.site-header__logo(href="/")
                +icon({ width: 64, height: 64, name: 'icon-logo' }).site-header__logo-icon
                p.site-header__logo-descr Sergey Novikov's official Intro

            .site-header__triggers
                button.site-header__burger(
                    type="button"
                    aria-hidden="true"
                    aria-pressed="false"
                    aria-label="Open the Navigation menu bar"
                    data-burger-menu-trigger="is-default"
                    data-burger-menu-state-is-opened="Close the Navigation menu bar"
                    data-burger-menu-state-is-closed="Open the Navigation menu bar"
                ): span.site-header__burger-appearance Burger

                nav.site-header__nav(data-burger-menu-navigation-main-block)
                    .site-header__nav-box(data-burger-menu-navigation-box)
                        menu.site-header__nav-menu(data-burger-menu-navigation)
                            each navLink in DATA_NAV_HEADER
                                li.site-header__nav-item
                                    +ui-fancy-button({ href: navLink.href, text: navLink.text })

                        // the «Theme Switcher»
                        +theme-switcher()
                        // /the «Theme Switcher»
