mixin theme-switcher(props = {})
  //-
    +ts-trigger() — internal mixin, accessible only
    inside the +theme-switcher()
  mixin ts-trigger(props = {})
    - const ts_title = props.title ?? 'Theme-switch trigger';
    - const ts_ariaLabel = props.label ?? ts_title;
    - const ts_pressedState = props.pressedState ?? 'false';
    - const ts_value = props.value ?? null;
    - const ts_text = props.text ?? ts_title;

    button.theme-switcher__trigger(
      type="button"
      title=ts_title
      aria-label=ts_ariaLabel
      aria-pressed=ts_pressedState
      value=ts_value
      data-theme-switcher-trigger
    )= ts_text


  section.theme-switcher(data-theme-switcher)&attributes(attributes)
    +ts-trigger({
      title: 'Switch to the «Dark theme»',
      pressedState: 'true',
      value: 'dark',
      text: 'Dark',
    })
    +ts-trigger({
      title: 'Switch to the «System theme»',
      pressedState: 'false',
      value: 'system',
      text: 'System',
    })
    +ts-trigger({
      title: 'Switch to the «Light theme»',
      pressedState: 'false',
      value: 'light',
      text: 'Light',
    })
    span.theme-switcher__indicator(data-theme-switcher-indicator)
