mixin work-card(data = {})
    -
        const tag = data.href ? 'a' : 'button'
        const type = data.href ? false : 'button'
        const tooltip = data.href ? 'Go to the project page' : 'Open project detail info'
        const picName = data.pic?.name || 'content/pic-placeholder'
        const picExt = data.pic?.ext || 'png'
        const picAlt = data.pic?.alt || false

    article.work-card&attributes(attributes)
        #{tag}.work-card__wrap(
            href=data.href
            type=type
            title=tooltip
            aria-label=tooltip
        )
            +picture({
                width: 350,
                height: 350,
                name: picName,
                ext: picExt,
                alt: picAlt,
            }).work-card__pic

            .work-card__info
                hgroup.work-card__title-box
                    h3.work-card__title= data.title
                    p.work-card__title-desc= data.desc

                if data.tags
                    ul.work-card__tags-list
                        each tag in data.tags
                            li.work-card__tag ##{tag}
