mixin site-footer(props = {})
  footer.site-footer&attributes(attributes)
    nav.site-footer__nav
      menu.site-footer__nav-menu
        each navItem in DataSocialsNavigation
          -
            const href = navItem.href || '#'
            const tooltip = navItem.tooltip || false
            const notAction = !navItem.isAction

          li.site-footer__nav-menu-item
            a.site-footer__nav-menu-link(
              href=href
              target=notAction && "_blank"
              rel=notAction && "noopener noreferrer"
              aria-label=tooltip
              value=navItem.text
            )= navItem.text

    +copyright({year: '2024'}).site-footer__copyright
